<h2>Practice a language for free</h2>
<h4>Just 5 minutes a day</h4>

<button>Get Started</button>
<br>
<button>I have an account</button>

<div>
  <h3>How it works</h3>
  <p>It will display a word from one language and 4 options from the language you need to practice</p>
  <p>And click one of them</p>
</div>
<div>
  <h3>About this app</h3>
  <p>This app is aimed to begginers who want to practice the basic words of a language, those who wants to practice words about certain themes, or in case if you are struggling with specific set of words.</p>
</div>

<div>
  <h3>Practice anytime, anywhere</h3>
  <h4>In 5 minutes a day</h4>
  <button>Get Started</button>
</div>


